* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.weather {
    width: 100%;
    max-width: 470px;
    background: linear-gradient(140deg, #0a0432, #3ad7f3);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search_bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_bar input {
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 10px;
    font-size: 18px;
}

.search_bar img {
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    padding: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.temperature {
    font-size: 80px;
    font-weight: 500;
}

.location {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.weather-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.error {
    text-align: left;
    color: #ff4d4d;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
}
